<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>新規登録</title>

	<head>
		<link rel="stylesheet" th:href="@{/css/style.css}">
		<link rel="stylesheet" th:href="@{/css/common.css}">
	</head>
</head>

<body>
	<div th:replace="~{fragments/header :: header}"></div>
	<main>

		<h1>新規ユーザー登録</h1>

		<form th:action="@{/register}" th:object="${user}" method="post">
			<div>
				<label for="username">ユーザー名:</label>
				<input type="text" id="username" th:field="*{username}" required>
			</div>
			<div>
				<label for="password">パスワード:</label>
				<input type="password" id="password" th:field="*{password}" required>
			</div>
			<div>
				<button type="submit">登録</button>
			</div>
		</form>

		<p>すでにアカウントをお持ちですか？ <a th:href="@{/login}">ログイン</a></p>
	</main>
	<div th:replace="~{fragments/footer :: footer}"></div>
</body>

</html>